@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
  }
  .navbar-fixed-top {
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    background-color: #e2e2e2; 
    padding-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}
.btn-add{
    color: rgb(218, 220, 223);
    border: rgb(13, 11, 11) 1px solid;
    margin:1px;
    background-color: green;
}
.btn-add:hover{
    background-color: rgb(64, 130, 64);
}
.btn-view{
    background-color: rgb(11, 71, 168);
}
.btn-view:hover{
    background-color: rgb(48, 94, 167);
}

.btns-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: #ec6212;
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    font-weight: bold;
    display: block;
  }
  
  .scroll-to-top:hover {
    background-color: #cf390b;
  }
.btns{
    color: black;
}







