<nav class="navbar-fixed-top">
    <div class="container">
        <div class=" main-content pt-3">
            <div class="btns-head">
                <h3 class="btn btn-add" routerLink="/company/add-job">Add Job</h3>
                <h3 class="btn btn-add btn-view">View Appllicants</h3>
            </div>
            <div class="btns">
                <span class="material-icons home" matTooltip="Back to Home" routerLink="/company">
                    home
                </span>
                <span class="material-icons ms-3 logout" matTooltip="Logout">
                    logout
                </span>

            </div>

        </div>
    </div>
</nav>





<button class="scroll-to-top" matTooltip="scroll to top">
    Login as {{this.cname}}
</button>