<div class="main">
    <nav class="actions-menu container">
        <a class="iconss" (click)="goToSaved()">
            <i class="fa fa-solid fa-bookmark"></i>
            <span>Saved Jobs</span>
        </a>
        <a class="iconss" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="appiedJobs()">
            <i class="fa fa-solid fa-suitcase"></i>
            <span>Applied Jobs</span>
        </a>
        <!-- <a class="iconss">
            <i class="fa fa-solid fa-bell"></i>
            <span>Job Alerts</span>
        </a> -->
    </nav>
    <div class="main-content">
        <div class="search container">
            <h2>Search for your next job</h2>
            <form action="">
                <input type="text" [(ngModel)]="searchData" name="searchData" (keyup)="accessData($event)"
                autocomplete="off" type="search" placeholder="Search by title,company or job type" />
                <input type="text" [(ngModel)]="searchState" name="searchState" (keyup)="accessStateData($event)" autocomplete="off" type="search" placeholder="Search State" />
            </form>
        </div>

        <div class="listings container">
            <h3 class="listings__heading">More Jobs</h3>
            <ul class="listings__grid">
                <li class="card" *ngFor="let i of pdata  | stateSearch: searchStateString:['state'] | headerSearch: searchString:['title', 'cname','jobtype']">
                    <div class="more">
                        <img src="https://logo.clearbit.com/google.com" alt="" class="card__logo" />
                        <h3>
                            <a class=" star-saved" (click)="savedJobs(i._id)" matTooltip="Save Job">
                                <span class="material-icons" [ngClass]="starClr? 's1' : 's2'">
                                    star_rate
                                </span>
                            </a>
                        </h3>
                    </div>

                    <div class="card__heading">{{i.title}}</div>
                    <div class="card__text">{{i.cname}}</div>
                    <div class="card__text">{{i.state}},{{i.location}}</div>
                    <hr class="card__separator" />
                    <div class="card__text card__text--small">6 days ago</div>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="btn btn-apply" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            (click)="view(i._id)">Apply</button>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <button class="scroll-to-top" (click)="scrollToTop()">
        <i class="fa fa-solid fa-angle-up"></i>
    </button>

</div>


<!--view job modal -->

<div class="modal fade modal-conten " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered mx-auto" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h3 class="modal-title" id="exampleModalLabel">
                    {{singleView.cname}}
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="role ">
                    <p>Job role : {{singleView.role}}</p>
                </div>
                <div class="head-modal flex-prop">
                    <h4>Position : {{ singleView.title }}</h4>
                    <h4>Experience : {{singleView.expirence}}</h4>
                </div>
                <div class="bodytext flex-prop">
                    <h4>Job Type : {{singleView.jobtype}}</h4>
                    <h4>Salary : {{singleView.salary}}</h4>

                </div>
                <h5 class="text-botom">Location : {{singleView.location}}</h5>
            </div>
            <div class="modal-footer border-top-0 d-flex">
                <button type="button" class="btn btn-apply-modal"
                    (click)="applyLink(singleView.cid,singleView._id)">Apply</button>
            </div>
        </div>
    </div>
</div>


<!-- Applied Jobs modal -->
<div class="modal fade modal-conten" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered mx-auto" role="document">
        <div class="modal-content" style="overflow-y: auto; max-height: 80vh;">
            <div class="modal-header border-bottom-0">
                <h3 class="modal-title" id="exampleModalLabel">
                    Applied Jobs
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <h2 class="text-center msge">{{msg}}</h2>
            <div class="modal-body mt-4" *ngFor="let i of appliedData ">
                <hr class="mb-4">
                <div class="bodytext flex-prop">
                    <h6>{{i.cname}}</h6>
                    <h4 class="title-content">{{i.title }}</h4>
                </div>
                <h5 class="text-botom">Status :<span class="text-success">{{i.status}}</span></h5>
            </div>
        </div>
    </div>
</div>