<div class="main">
    <nav class="actions-menu container">
        <a href="#" class="iconss">
            <i class="fa fa-solid fa-bookmark"></i>
            <span>Saved Jobs</span>
        </a>
        <a href="#" class="iconss">
            <i class="fa fa-solid fa-suitcase"></i>
         <span>Applied Jobs</span>
        </a>
        <a href="#" class="iconss">
            <i class="fa fa-solid fa-bell"></i>
           <span>Job Alerts</span> 
        </a>
    </nav>
    <div class="main-content">
        <div class="search container">
            <h2>Search for your next job</h2>
            <form action="">
                <input type="text" placeholder="Search by title, skill, or company" />
                <input type="text" placeholder="City, state, or zip code" />
                <button class="search__btn">Search</button>
            </form>
        </div>
        
        <div class="listings container">
            <h3 class="listings__heading">Based on your profile</h3>
            <ul class="listings__grid">
                <li class="card">
                    <img src="https://logo.clearbit.com/google.com" alt="" class="card__logo" />
                    <div class="card__heading">Software Engineer</div>
                    <div class="card__text">Google</div>
                    <div class="card__text">Hyderabad, IN</div>
                    <div class="card__text card__text--small">9 connections</div>
                    <hr class="card__separator" />
                    <div class="card__text card__text--small">6 days ago</div>
                    <!-- <button class="job-card-menu-btn">···</button> -->
                </li>
                <li class="card">
                    <img src="https://logo.clearbit.com/amazon.com" alt="" class="card__logo" />
                    <div class="card__heading">Senior Software Engineer</div>
                    <div class="card__text">Amazon</div>
                    <div class="card__text">Hyderabad, IN</div>
                    <div class="card__text card__text--small">9 connections</div>
                    <hr class="card__separator" />
                    <div class="card__text card__text--small">6 days ago</div>
                    <!-- <button class="job-card-menu-btn">···</button> -->
                </li>
                <li class="card">
                    <img src="https://logo.clearbit.com/tcs.com" alt="" class="card__logo" />
                    <div class="card__heading">Web Developer</div>
                    <div class="card__text">TCS</div>
                    <div class="card__text">Bangalore, IN</div>
                    <div class="card__text card__text--small">9 connections</div>
                    <hr class="card__separator" />
                    <div class="card__text card__text--small">6 days ago</div>
                    <!-- <button class="job-card-menu-btn">···</button> -->
                </li>
                <li class="card">
                    <img src="https://images.ctfassets.net/37l920h5or7f/4DoCMtDHIs8WMMyu06eYM2/c6d3263dce37657cbdd44224f1f79a0d/Uber-Asset-Logo-18.jpg?fm=jpg&q=70&w=1600"
                        alt="" class="card__logo" />
                    <div class="card__heading">Software Engineer</div>
                    <div class="card__text">Uber</div>
                    <div class="card__text">Delhi, IN</div>
                    <div class="card__text card__text--small">9 connections</div>
                    <hr class="card__separator" />
                    <div class="card__text card__text--small">6 days ago</div>
                    <!-- <button class="job-card-menu-btn">···</button> -->
                </li>
                <li class="card">
                    <img src="https://via.placeholder.com/64" alt="" class="card__logo" />
                    <div class="card__heading">Software Engineer</div>
                    <div class="card__text">Microsoft</div>
                    <div class="card__text">Hyderabad, IN</div>
                    <div class="card__text card__text--small">9 connections</div>
                    <hr class="card__separator" />
                    <div class="card__text card__text--small">6 days ago</div>
                    <!-- <button class="job-card-menu-btn">···</button> -->
                </li>
                <li class="card">
                    <img src="https://via.placeholder.com/64" alt="" class="card__logo" />
                    <div class="card__heading">Software Engineer</div>
                    <div class="card__text">AMD</div>
                    <div class="card__text">Hyderabad, IN</div>
                    <div class="card__text card__text--small">9 connections</div>
                    <hr class="card__separator" />
                    <div class="card__text card__text--small">6 days ago</div>
                    <!-- <button class="job-card-menu-btn">···</button> -->
                </li>
                <li class="card">
                    <img src="https://via.placeholder.com/64" alt="" class="card__logo" />
                    <div class="card__heading">Software Engineer</div>
                    <div class="card__text">Microsoft</div>
                    <div class="card__text">Hyderabad, IN</div>
                    <div class="card__text card__text--small">9 connections</div>
                    <hr class="card__separator" />
                    <div class="card__text card__text--small">6 days ago</div>
                    <!-- <button class="job-card-menu-btn">···</button> -->
                </li>
                <li class="card">
                    <img src="https://via.placeholder.com/64" alt="" class="card__logo" />
                    <div class="card__heading">Software Engineer</div>
                    <div class="card__text">Microsoft</div>
                    <div class="card__text">Hyderabad, IN</div>
                    <div class="card__text card__text--small">9 connections</div>
                    <hr class="card__separator" />
                    <div class="card__text card__text--small">6 days ago</div>
                    <!--       <button class="job-card-menu-btn">···</button> -->
                </li>
                <li class="card">
                    <img src="https://via.placeholder.com/64" alt="" class="card__logo" />
                    <div class="card__heading">Software Engineer</div>
                    <div class="card__text">Microsoft</div>
                    <div class="card__text">Hyderabad, IN</div>
                    <div class="card__text card__text--small">9 connections</div>
                    <hr class="card__separator" />
                    <div class="card__text card__text--small">6 days ago</div>
                </li>
            </ul>
        </div>
    </div>
    <button class="scroll-to-top" (click)="scrollToTop()">
        <i class="fa fa-solid fa-angle-up"></i>
       
    </button>

</div>


