<div class="main">
    <div class="caontainer">
        <div class="job-head">
            <h1>Top Picks For You ->></h1>
        </div>
        <div class="cards">
            <div class="card mt-2 p-2">
                <div class="card-body">
                    <div class="saved">
                        <h5 class="card-title"></h5>
                        <h3>
                            <button class="btn star-saved" matTooltip="Save Job">
                                <span class="material-icons ">
                                    star_rate
                                </span>
                            </button>
                        </h3>
                    </div>

                    <div class="content-card d-flex justify-content-between">
                        <h4 class="card-title col-md-10 col-sm-6"><strong></strong></h4>

                        <div class="col-md-2 col-sm-6 text-right">
                            <button class="btn btn-view" data-bs-target="#exampleModal"
                                data-bs-toggle="modal">View</button>
                            <button class="btn btn-apply">Apply</button>
                        </div>
                    </div>

                    <div class="content-card d-flex mt-2 mb-2">
                        <div class="cardtext col-md-11">
                            <p><span></span> </p>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>