<section>
    <!-- <h1>{{data}}</h1> -->
    <div class="container">
        <div class="user signinBx">
            <div class="imgBx"><img src="https://i.postimg.cc/sXR8HX9r/hello-2488-512.gif" alt="" /></div>
            <div class="formBx">
                <form action="">
                    <h2>User Login</h2>
                    <form>
                        <input id="username" formControlName="uname" type="text" name="uname" placeholder="Username" />
                        <!-- <div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched">
                <h6 class="error" >Invalid Account Number</h6>
              </div> -->
                        <input id="psw" formControlName="psw" type="password" name="psw" placeholder="Password" />
                        <!-- <div *ngIf="this.loginForm.get('psw')?.errors && this.loginForm.get('psw')?.touched">
                <h6 class="error">Invalid Password</h6>
              </div> -->
                    </form>
                    <button type="submit" routerLink="">Login</button>
                    <p class="signup">
                        Don't have an account ?
                        <a href="javascript:void(0);" routerLink="/signup">Sign Up.</a>
                    </p>
                    <p class="signup">
                        Login as Company?
                        <a href="javascript:void(0);" (click)="toggleForm()">Company Login</a>
                    </p>
                </form>
            </div>
        </div>
        <div class="user signupBx">
            <div class="formBx">
                <form action="">
                    <h2>Company Login</h2>
                    <input id="cname" formControlName="cname" type="name" name="cname" placeholder="Company name" />
                    <!-- <div *ngIf="this.signupForm.get('uname')?.errors && this.signupForm.get('uname')?.touched">
              <h6 class="error">Invalid Username</h6>
            </div> -->
                    <input id="psw" formControlName="psw" type="password" name="psw" placeholder="Password" />
                    <!-- <div *ngIf="this.signupForm.get('psw')?.errors && this.signupForm.get('psw')?.touched">
              <h6 class="error">Invalid Password</h6>
            </div> -->
                    <button type="submit">Sign Up</button>
                    <p class="signup">
                        Don't have an account ?
                        <a href="javascript:void(0);" routerLink="/signup">Sign Up.</a>
                    </p>
                    <p class="signup">
                        Login as User?
                        <a href="javascript:void(0);" (click)="toggleForm()">Sign in.</a>
                    </p>
                </form>
            </div>
            <div class="imgBx"><img src="https://i.postimg.cc/wMHTcgbf/pexels-laura-tancredi-7078698.jpg" alt="" /></div>
        </div>
    </div>
</section>