<section class="ban_sec">
    <div class="container1">
        <div class="ban_img">
            <img src="https://i.postimg.cc/NGWtVQCG/abstract-background-with-low-poly-design.jpg" alt="banner">
            <div class="ban_text">
                <strong>
                    <span>Career Builder</span><br> Job Connect
                </strong>
                <p>
                    Connecting job seekers and employers <br> through a user-friendly platform
                </p>

                <a href="#">Connect</a>
            </div>
        </div>
    </div>
</section>


<div class="sec-2">
    <div class="container">

        <div class="menu-sec">
            <div class="menu-btn">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Sort By
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <mat-chip-option>
                    All
                    <button matChipRemove aria-label="Remove orange">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>
                <mat-chip-option>
                    Web developer
                    <button matChipRemove aria-label="Remove orange">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>
                <mat-chip-option>
                    Accountant
                    <button matChipRemove aria-label="Remove orange">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>
                <mat-chip-option>
                    Graphic designer
                    <button matChipRemove aria-label="Remove orange">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-option>

                <button class="btn">
                    Filter <i class="fa fa-duotone fa-sort"></i>
                </button>
            </div>
        </div>
       
        <div class="job-head">
            <h1>Top Picks For You ->></h1>
        </div>
        <div class="cards">
            <div class="card mt-3 w-95">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary float-end">Button</a>
                </div>
            </div>
            <div class="card mt-3 w-95">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary float-end">Button</a>
                </div>
            </div>
            <div class="card mt-3 w-95">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary float-end">Button</a>
                </div>
            </div>
        </div>
        <button class="  btn-more float-end"routerLink="/user/more-list">More Listing</button>
    </div>

</div>

<div class="sec-3">
    <div class="container">
        <div class="companies">
            <div class="company-head">
                <h1>Popular Companies</h1>
            </div>
        </div>

        <div class="cards cards-comp">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="https://www.investopedia.com/thmb/4mQYo6Nbw4WfmN3CN1Q99-QEhd8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/shutterstock_227705986_google_android_robot-5bfc3afbc9e77c00587b1dcf.jpg" class="card-img-top" 
                            alt="Google" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="https://i.postimg.cc/zGSPs9VJ/Apple.jpg" class="card-img-top"
                            alt="Apple" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="https://i.postimg.cc/ry0ZVdKZ/ms.jpg" class="card-img-top"
                            alt="microsoft" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <img src="https://i.postimg.cc/zGj0tKcv/amazon.jpg" class="card-img-top"
                            alt="amazon" />
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>