<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web developer</a></li>
                        <li><a href="#">Accounting</a></li>
                        <li><a href="#">Design</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Job Connect</h3>
                    <p>Where Careers Begin. Your trusted partner in the job market.
                        Discover a wealth of employment opportunities, expert career
                        guidance, and seamless connections with prospective employers. We're dedicated to helping you
                        take the next step in your professional journey. Explore, apply, and succeed with our extensive
                        job listings, resume building tools, and interview tips. Your future starts here with
                        Job Connect. Transforming dreams into reality,
                        one job at a time.</p>
                </div>
                <div class="col item social">
                    <a href="#"><i class="fa fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">Job Connect © 2023</p>
        </div>
    </footer>
</div>