<section>
    <!-- <h1>{{data}}</h1> -->
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx"><img src="https://i.postimg.cc/sXR8HX9r/hello-2488-512.gif" alt="" /></div>
        <div class="formBx">
            <form action="">
                <h2>User Register</h2>
                <input id="uname" formControlName="uname" type="text" name="uname" placeholder="Username" />
                <!-- <div *ngIf="this.signupForm.get('acno')?.errors && this.signupForm.get('acno')?.touched">
                  <h6 class="error">Invalid Account Number</h6>
                </div> -->
                <input id="email" formControlName="email" type="name" name="email" placeholder="Email" />
                <!-- <div *ngIf="this.signupForm.get('uname')?.errors && this.signupForm.get('uname')?.touched">
                  <h6 class="error">Invalid Username</h6>
                </div> -->
                <input id="psw" formControlName="psw" type="password" name="psw" placeholder="Create Password" />
                <!-- <div *ngIf="this.signupForm.get('psw')?.errors && this.signupForm.get('psw')?.touched">
                  <h6 class="error">Invalid Password</h6>
                </div> -->
                <input type="password" formControlName="cpsw" name="cpsw" placeholder="Confirm Password" />
                <!-- <div *ngIf="pswCheck">
                  <h6 class="error">Passowrd doesn't match</h6>
                </div> -->
    
                <button type="submit" >Sign Up</button>
                <p class="signup">
                    Already have an account?
                   <a href="javascript:void(0);" routerLink="/login">Login</a>
                 </p>
                <p class="signup">
                   Register as Company?
                  <a href="javascript:void(0);"  (click)="toggleForm()">Signup</a>
                </p>
              </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form action="">
            <h2>Company Register</h2>
            <input id="cname" formControlName="cname" type="text" name="ccno" placeholder="Company name " />
            <!-- <div *ngIf="this.signupForm.get('acno')?.errors && this.signupForm.get('acno')?.touched">
              <h6 class="error">Invalid Account Number</h6>
            </div> -->
            <input id="email" formControlName="email" type="email" name="email" placeholder="Email" />
            <!-- <div *ngIf="this.signupForm.get('uname')?.errors && this.signupForm.get('uname')?.touched">
              <h6 class="error">Invalid Username</h6>
            </div> -->
            <input id="psw" formControlName="psw" type="password" name="psw" placeholder="Create Password" />
            <!-- <div *ngIf="this.signupForm.get('psw')?.errors && this.signupForm.get('psw')?.touched">
              <h6 class="error">Invalid Password</h6>
            </div> -->
            <input type="password" formControlName="cpsw" name="cpsw" placeholder="Confirm Password" />
            <!-- <div *ngIf="pswCheck">
              <h6 class="error">Passowrd doesn't match</h6>
            </div> -->

            <button type="submit" >Sign Up</button>
            <p class="signup">
              Already have an account ?
              <a href="javascript:void(0);"  routerLink="/login">Sign in.</a>
            </p>
            <p class="signup">
                Register as User?
               <a href="javascript:void(0);"  (click)="toggleForm()">Signup</a>
             </p>
          </form>
        </div>
        <div class="imgBx"><img src="https://i.postimg.cc/wMHTcgbf/pexels-laura-tancredi-7078698.jpg" alt="" /></div>
      </div>
    </div>
  </section>