<nav class="navbar navbar-expand-lg navbar-light fixed-top fixed-navbar">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">
            <img src="https://i.postimg.cc/NjDC8P9R/1-2-jobs-png-file.png" alt="">
        </a>
        <button type="button" class="navbar-toggler  btn-m" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span><i class="fa fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>
            </div>
            <form class="d-flex">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>

                </div>
            </form>
            <div class="navbar-nav d-flex">

                <a href="#" routerLink="user/login" class="nav-item nav-link">Login/Signup</a>

                <a class="nav-item nav-link">LogOut</a>
            </div>
        </div>
    </div>
</nav>








