<nav class="navbar navbar-expand-lg navbar-light fixed-top fixed-navbar">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">
            <img src="https://i.postimg.cc/NjDC8P9R/1-2-jobs-png-file.png" alt="">
        </a>
        <button type="button" class="navbar-toggler  btn-m" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span><i class="fa fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a class="nav-item nav-link">Profile</a>
                <a class="nav-item nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="appiedJobs()">Applied Jobs</a>
            </div>
            <form class="d-flex">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <button class="btn btn-sm btn-secondary">
                        <span class="material-symbols-outlined">
                            search
                            </span>
                    </button>
                   

                </div>
            </form>
            <div class="navbar-nav d-flex">
                <a class="nav-item nav-link" matTooltip="Login/Signup" routerLink="user/login"><span class="material-symbols-outlined">
                    login
                    </span></a>
                <a   class="nav-item nav-link" matTooltip="Logout"><span class="material-symbols-outlined">
                    logout
                    </span></a>
            </div>
        </div>
    </div>
</nav>

<!-- applied job -->
<div class="modal fade modal-conten" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered mx-auto" role="document">
        <div class="modal-content" style="overflow-y: auto; max-height: 80vh;">
            <div class="modal-header border-bottom-0">
                <h3 class="modal-title" id="exampleModalLabel">
                    Applied Jobs
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body mt-4" *ngFor="let i of appliedData">
                <hr class="mb-4">
                <div class="bodytext flex-prop">
                    <h5>{{i.cname}}</h5>
                    <h4 class="title-content">{{i.title }}</h4>
                </div>
                <h5 class="text-botom">Status :<span class="text-success">Applied</span></h5>
            </div>
        </div>
    </div>
</div>






