<nav class="navbar-fixed-top">
    <div class="container">
        <div class=" main-content pt-3">
            <div class="btns-head">
                <h3 class="btn btn-add" routerLink="/company/add-job">Add Job</h3>
                <h3 class="btn btn-add btn-view" routerLink="/company/view-applicants/{{cid}}">View Appllicants</h3>
            </div>

            <div class="btns">
                <span class="material-icons home" matTooltip="Back to Home" routerLink="/company">
                    home
                </span>
                <span class="material-icons ms-3 logout" matTooltip="Logout">
                    logout
                </span>

            </div>
        </div>
    </div>
</nav>
<div class="main">
    <div class="container mt-5">
        <form [formGroup]="editForm" (ngSubmit)="updateJob()">
            <div class="row jumbotron box8">
                <span class="material-icons" matTooltip="Back to Home" routerLink="/company">
                    home
                    </span>
                <div class="col-sm-12 ">
                    <h2 class="text-center text-info">Edit a Job</h2>
                </div>
                <div class="col-sm-6 form-group">
                   
                    <label for="jobTitle">Job Title</label>
                    <input type="text" class="form-control" [(ngModel)]="jData.title" formControlName="jobTitle" name="jobTitle" id="jobTitle"
                        placeholder="Job title." required>
                </div>
              
                <div class="col-sm-6 form-group">
                    <label for="expirence">Expirence</label>
                    <select id="expirence" [(ngModel)]="jData.expirence" formControlName="expirence" (change)="updateSelectedexpirence()" class="form-control browser-default custom-select">
                        <option value="Entry Level">Entry Level</option>
                        <option value="1 - 2">1 - 2</option>
                        <option value="2 - 4">2 - 4</option>
                        <option value="4 - 6">4 - 6</option>
                        <option value="6 & more">6 & more</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="salary">Salary</label>
                    <input type="text"  [(ngModel)]="jData.salary" class="form-control" formControlName="salary" name="salary" id="salary" placeholder="Salary details"
                        required>
                </div>
                <!-- <div class="col-sm-6 form-group">
                    <label for="resume">Resume</label>
                    <input type="address" class="form-control" name="resume" id="resume" placeholder="Resume" required>
                </div> -->
                <div class="col-sm-6 form-group">
                    <label for="state">State</label>
                    <input type="address"  [(ngModel)]="jData.state" class="form-control" formControlName="state" name="state" id="state"
                        placeholder="State" required>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="Country">Country</label>
                    <select id="country"  [(ngModel)]="jData.location" formControlName="country" (change)="updateCountry()" class="form-control browser-default custom-select">
                        <option value="India">India</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="jobtype">Job Type</label>
                    <select id="jobtype"  [(ngModel)]="jData.jobtype" formControlName="jobType" (change)="updateSelectedType()" class="form-control browser-default custom-select">
                        <option value="Full-time">Full Time</option>
                        <option value="Part-time">Part Time</option>
                        <option value="Contract">Contract</option>
                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="category">Job Category</label>
                    <select id="category"  [(ngModel)]="jData.category" formControlName="category" (change)="updateSelectedCategory()" class="form-control browser-default custom-select">
                        <option value="Healthcare & Medical">Healthcare & Medical </option>
                        <option value="Information Technology">Information Technology</option>
                        <option value="Education">Education</option>
                        <option value="Finance & Banking">Finance & Banking</option>
                        <option value="Engeering">Engeering</option>
                        <option value="Sales & Marketing">Sales & Marketing</option>
                        <option value="Retail & Hospitality">Retail & Hospitality</option>
                        <option value="Manufacturing & Production">Manufacturing & Production</option>
                        <option value="Customer Service">Customer Service</option>
                        <option value="Government & Public Service">Government & Public Service</option>

                    </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="name-l">Job role & Responsibilities</label>
                    <textarea class="form-control"  [(ngModel)]="jData.role" formControlName="jobRole" name="jobRole" id="job-role" placeholder="Job role & Responsibilities" required rows="4" style="width: 100%;"></textarea>
                </div>
              

                <div class="text-center mt-4 col-sm-12 form-group mb-0">
                    <button class="btn btn-primary float-right">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
<button class="login-company" matTooltip="Back to home" routerLink="/company">
    Login as {{cname}}
  </button>